aafigure==0.6
asgiref==3.7.2
bootstrap-builder==0.0.5
certifi==2023.5.7
charset-normalizer==3.1.0
click==7.1.2
collective.viewlet.navbar==0.1
colorama==0.4.6
dj-database-url==2.0.0
Django==4.2.1
django-bootstrap==0.2.4
django-bootstrap-form==3.4
django-bootstrap-icons==0.8.3
django-bootstrap-navbar==0.0.22
django-bootstrap-sidebar==1.2.0
django-bootstrap-typeahead==1.1.5
django-gcd==0.0.1
django-heroku==0.3.1
docker==4.2.0
dockerpty==0.4.1
docopt==0.6.2
gcd==0.1.0
gitdb==4.0.10
GitPython==3.1.0
gunicorn==20.1.0
idna==3.4
Markdown==3.4.3
markdown-aafigure==202104.1011
markdown-builder==0.1.2
markdown-changelog==0.0.4
markdown-code-runner==2.0.0
Pillow==9.5.0
popper==2.7.0
psycopg2==2.9.6
pykwalify==1.7.0
pypiwin32==223
python-box==4.2.3
python-dateutil==2.8.2
pywin32==306
PyYAML==5.3.1
requests==2.31.0
ruamel.yaml==0.17.31
ruamel.yaml.clib==0.2.7
semver==3.0.0
server-admin==0.1.0
server-admintools==0.1.1
six==1.16.0
smmap==5.0.0
sphinx-bootstrap-theme==0.8.1
spython==0.0.79
sqlparse==0.4.4
toml==0.10.2
typing_extensions==4.6.3
tzdata==2023.3
urllib3==2.0.3
websocket-client==1.5.3
whitenoise==6.4.0
XStatic-Bootstrap-SCSS==3.4.1.0
